{% extends "admin/base.html" %}

{% block branding %}
    <h1 id="site-name">
        <img src="/static/img/logo_bg_transp.png" style="height:35px; vertical-align: -8px; padding-right: 10px;"/>
        Interface d'administration
    </h1>
{% endblock %}


{% block userlinks %}
    <script>
        function show_backup_popin(){
            return confirm("Vous êtes sur le point de créer une nouvelle sauvegarde et de la télécharger.\n" +
                    "Notez que celle-ci sera protégée par le mot de passe suivant : \"{{ backup_zip_password }}\".\n" +
                    "Voulez-vous continuer ?");
        }
    </script>
    <a href="https://github.com/agripo/website">Code source</a> /
    <a href="https://github.com/agripo/website/issues">Bugs</a> /
    <a id="backup_instructions" onclick="return show_backup_popin();" href="{{ backup_link }}">Sauvegarder</a> /
    {% if site_url %}
        <a href="{{ site_url }}">Voir le site</a>
    {% endif %}
{% endblock %}
