<section id="boxes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Boutique et réservation</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="#">
                                <i class="fa fa-{{ one.icon.icon }}"></i>
                                Réserver votre séjour
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            L’écotourisme soutient le développement durable du village. Cette mise en valeur des
                            ressources locales constitue une source de revenus complémentaire pour la communauté.
                            L’offre comporte les hébergements et les activités écotouristiques.
                        </p>
                        <a href="#" class="btn btn-default btn-primary">Formulaire</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="http://www.amazon.com/Tayap-for%C3%AAt-enchant%C3%A9e-French-AGRIPO-ebook/dp/B01697CQVS/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1444227331&sr=1-1" target="_blank">
                                <i class="fa fa-{{ one.icon.icon }}"></i>
                                Tayap, la forêt enchantée
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="/static/img/bd_small.jpg" style="float: left;width:55px;margin-right:3px;"/>
                            Billong ne manque ni de compétences, ni de charme, et… elle a aussi un sacré
                            caractère. Heu&shy;reu&shy;se&shy;ment !
                            Car s’il fal&shy;lait com&shy;pter uni&shy;que&shy;ment sur le zèle des anges ou les
                            in&shy;can&shy;ta&shy;tions du sor&shy;cier,
                            ja&shy;mais le pe&shy;tit vil&shy;lage de Ta&shy;yap n’au&shy;rait trou&shy;vé le tré&shy;sor
                            ca&shy;ché…
                        </p>
                        <p>
                            La suite sur
                            <a href="http://www.amazon.com/Tayap-for%C3%AAt-enchant%C3%A9e-French-AGRIPO-ebook/dp/B01697CQVS/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1444227331&sr=1-1" target="_blank" class="btn btn-default btn-primary">
                                Kindle edition
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="#">
                                <i class="fa fa-{{ one.icon.icon }}"></i>
                                Produits phares
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Entrez dans notre boutique en ligne, nos produits biologiques vous y attendent :
                            fruits et légumes tropicaux, huiles, plants agroforestiers. Par vos achats, vous
                            soutenez notre démarche de développement responsable.
                        </p>
                        <a href="{% url "shop_page" %}" class="btn btn-default btn-primary">Toute la boutique</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="/livre-la-cuisine-de-tayap/">
                                <i class="fa fa-{{ one.icon.icon }}"></i>
                                Livre de cuisine
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="/static/img/bd_small.jpg" style="float: left;width:55px;margin-right:3px;"/>
                            Découvrez les spécificités, la richesse et la moder&shy;nité de la gas&shy;tro&shy;no&shy;mie de Tayap.
                            La cui&shy;sine tradi&shy;tion&shy;nel&shy;le a été revisitée en incorporant les produits
                            des Vergers de Tayap…<br />
                            Toutes les saveurs tropicales arrivent dans votre assiette !
                        </p>
                        <a href="/livre-la-cuisine-de-tayap/" class="btn btn-default btn-primary">Acheter le livre</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>
                    	Vous pouvez nous encourager dans nos actions en faisant un don grâce au lien suivant.
                    	Votre participation est importante, et nous vous en remercions !
                    </p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block btn-primary" href="/faire-un-don/">Faire un don</a>
                </div>
            </div>
        </div>
    </div>
</section>

