<!--/.NAVBAR END-->
<section id="id_uses_cookies_section">
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-md-10">
                Ce site internet requiert l'utilisation de cookies. Vous pouvez consulter notre
                politique concernant les cookies sur <a href="/politique_cookies/">cette page</a>.
            </div>
            <div class="col-md-2" style="text-align: right">
                <a href="#" id="id_uses_cookies">Fermer</a>
            </div>
        </div>
    </div>
</section>
