<!--/.NAVBAR END-->
<section id="id_uses_cookies_section">
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-md-10">
                This website uses cookies to ensure a better user experience.
                Learn more about our cookies policy <a href="">here</a>.
            </div>
            <div class="col-md-2">
                <a href="#" id="id_uses_cookies">Hide this message</a>
            </div>
        </div>
    </div>
</section>
