<section id="news_box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Actualités</h3>
            </div>
        </div>

        <div class="row news_container text-center">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="{% url "news_page" %}">
                                <i class="fa fa-plus"></i>
                                Nos nouvelles
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Restez connectés en lisant nos informations actualisées. Pour assurer une véritable proximité
                            avec nous, les populations vous racontent leurs vécus et les évolutions du village.
                            Illustrées de photos, ces nouvelles nous permettent de capitaliser nos actions de façon
                            participative.
                        </p>
                        <p>
                            <a href="{% url "news_page" %}" class="btn btn-default btn-primary">Lire lles nouvelles</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="/magazine/">
                                <i class="fa fa-print"></i>
                                Magazine
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                           Ce magazine annuel met en exergue le génie des hom&shy;mes qui œuvrent au ser&shy;vice du dé&shy;ve&shy;lop&shy;pement
                            local dans les villages africains. Re&shy;trou&shy;vez les person&shy;nalités at&shy;ta&shy;chées aux ru&shy;ra&shy;li&shy;tés
                            afri&shy;caines. C’est aussi une mine d’astuces pour la vie quotidienne, des conseils mode,
                            santé, nutrition et beauté.
                        </p>
                        <p>
                            <a href="/magazine/" class="btn btn-default btn-primary">Lire les articles</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="{% url "webdoc:home_page" %}">
                                <i class="fa fa-tv"></i>
                                Webdocumentaire
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Doté d’options interactives et complémentaires, ce support renforce les outils
                            mis en place par AGRIPO pour faire connaître les vergers écologiques de Tayap
                            et inciter au développement durable des villages africains.
                        </p>
                        <a href="{% url "webdoc:home_page" %}" class="btn btn-default btn-primary">Voir le webdoc</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="{% url "webdoc:home_page" %}">
                                <i class="fa fa-gamepad"></i>
                                Jeu vidéo
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>{% lorem 30 w %}</p>
                        <a href="#" class="btn btn-default btn-primary">Jouer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
