<section id="news_box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Actualités</h3>
            </div>
        </div>

        <div class="row news_container text-center">
            {% for one in last_news %}
                <div class="col-md-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                <a href="{% url "one_news_page" one.pk %}">
                                    <i class="fa fa-{{ one.icon.icon }}"></i>
                                    {{ one.title | truncatechars:22 }}
                                </a>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <p>{{ one.content|truncatechars:200 }}</p>
                            <p>
                                <a href="{% url "one_news_page" one.pk %}" class="btn btn-default btn-primary">Lire l'article complet</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="{% url "webdoc:home_page" %}">
                                <i class="fa fa-tv"></i>
                                Webdocumentaire
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Doté d’options interactives et complémentaires, ce support renforce les outils
                            mis en place par AGRIPO pour faire connaître les vergers écologiques de Tayap
                            et inciter au développement durable des villages africains.
                        </p>
                        <a href="{% url "webdoc:home_page" %}" class="btn btn-default btn-primary">Voir le webdoc</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <a href="{% url "webdoc:home_page" %}">
                                <i class="fa fa-gamepad"></i>
                                Jeu vidéo
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>{% lorem 30 w %}</p>
                        <a href="#" class="btn btn-default btn-primary">Jouer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
