<!--/.INTRO END-->
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Produits vedettes</h2>
            </div>
            <div class="col-xs-6 col-sm-3 one">
                <img src="/static/img/banane.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 one">
                <img src="/static/img/manioc.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 one">
                <img src="/static/img/noix.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 one">
                <img src="/static/img/graines.jpg">
            </div>
        </div>
    </div>
</section>
