<section id="social_lang">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <span class="navbar-text social_icons">
                    <a target="_blank" href="https://www.facebook.com/AgriculteursProfessionnelsDuCameroun"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a target="_blank" href="https://twitter.com/COOPAGRIPO"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/profile/view?id=AAIAAArp93EBgbDIykka0-CeR3LMmszhpRlMMwc&trk=nav_responsive_tab_profile_pic"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </span>
            </div>
            <div class="col-md-3 col-md-offset-6 col-sm-3 col-sm-offset-6">
                <span class="navbar-text navbar-right">
                    <a href="#">
                        <i class="fa fa-flag fa-2x"></i>
                        <div style="display:inline-block">View in English</div>
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>
