{% extends "core/base.html" %}
{% load i18n %}

{% block title %}Compte créé avec succès{% endblock %}

{% block content %}
    <p>Votre compte est maintenant activé.</p>
    <p>
        Vous pouvez vous y connecter en cliquant sur le bouton suivant :
    </p>
    <p>
        <a href="{% url 'auth_login' %}">
            <button id="id_submit" type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i>
                {% trans 'Log in' %}
            </button>
        </a>
    </p>
{% endblock %}
