{% extends "core/base.html" %}
{% load i18n %}

{% block title %}Connexion{% endblock %}

{% block page_name %}id_login_page{% endblock %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td style="padding-top: 10px;">
                <button id="id_submit" type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    {% trans 'Log in' %}
                </button>
            </td>
        </tr>
    </table>

  <input type="hidden" name="next" value="{{ next }}" />
</form>
<hr />
<p>
    Mot de passe oublié ?
    <a href="{% url 'auth_password_reset' %}">
        <button id="id_submit" type="submit" class="btn btn-warning">
            <i class="fa fa-pencil"></i>
            Réinitialiser le mot de passe
        </button>
    </a>
</p>
<p>
    Pas encore enregistré ?
    <a href="{% url 'registration_register' %}">
        <button id="id_submit" type="submit" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Créer un compte
        </button>
    </a>
</p>
{% endblock %}
