{% extends "core/base.html" %}
{% load i18n %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block content %}

{% if validlink %}
    <form method="post" action=".">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td style="padding-top: 10px;">
                    <button id="id_submit" type="submit" class="btn btn-primary">
                        <i class="fa fa-check"></i>
                        Enregistrer le mot de passe
                    </button>
                </td>
            </tr>
        </table>
    </form>
{% else %}
    <p>
        Le code vous permettant de réinitialiser votre mot de passe est erroné, périmé, ou
        a déjà été utilisé.
    </p>
    <p>
        Veuillez en demander un nouveau et suivre les nouvelles instructions que vous recevrez :
    </p>
    <p>
        <a href="{% url "auth_password_reset" %}">
            <button id="id_submit" type="submit" class="btn btn-warning">
                <i class="fa fa-pencil"></i>
                Réinitialiser le mot de passe
            </button>
        </a>
    </p>
{% endif %}

{% endblock %}
