{% load slideshow %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>{% block head_title %}Agripo{% endblock %}</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLE CSS -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- CUSTOM STYLE CSS from the template -->
    <link href="/static/css/style.css" rel="stylesheet"/>
    <!-- CUSTOM STYLE CSS -->
    <link href="/static/css/base.css" rel="stylesheet"/>
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <script>
        var _func_to_call_after_dom_is_loaded = [];
        function call_after_dom_is_loaded(callback){
            _func_to_call_after_dom_is_loaded.push(callback);
        }
        function dom_is_loaded($){
            for(callback in _func_to_call_after_dom_is_loaded){
                func = _func_to_call_after_dom_is_loaded[callback];
                func($);
            }
        }
    </script>
</head>
<body id="{% block page_name %}id_unknown_page{% endblock %}">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="id_top_container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/static/img/logo.png" style="height:50px;margin-top:-14px;"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            {% include "core/menu.html" %}
        </div>

    </div>
</div>
<div id="navbar_spacer"></div>


<!--/.NAVBAR END-->
{% if not cookies_notification_shown %}
    <section id="id_uses_cookies_section">
        <div class="container" style="margin-top: 25px">
            <div class="row">
                <div class="col-md-10">
                    This website uses cookies to ensure a better user experience.
                    Learn more about our cookies policy <a href="">here</a>.
                </div>
                <div class="col-md-2">
                    <a href="#" id="id_uses_cookies">Hide this message</a>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if display_slideshow %}
    {% slideshow slideshow_images %}
{% endif %}


<section id="social_lang">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <span class="navbar-text social_icons">
                    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                </span>
            </div>
            <div class="col-md-3 col-md-offset-6 col-sm-3 col-sm-offset-6">
                <span class="navbar-text navbar-right">
                    <a href="#">
                        <i class="fa fa-flag fa-3x"></i>
                        <div style="display:inline-block">Views in<br />English</div>
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>


<section id="main_content">
    <div class="container">
        {% block main_content %}
        <div class="row text-center">
            <div class="col-md-12">
                Page content
            </div>
        </div>
        {% endblock %}
    </div>
</section>


<section id="boxes">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="one-box">
                    <div class="up" style="background-image: url('/static/img/my_account.jpg');">
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="down">
                        <h4>Mon compte</h4>
                        <div>
                            {% if user.email %}
                                Bienvenue {{ user.email }}
                                <a class="btn navbar-btn" id="id_logout" href="{% url 'logout' %}">
                                    <i class="fa fa-sign-out"></i>
                                    Déconnexion
                                </a>
                            {% else %}
                                <a class="btn navbar-btn" id="id_login" href="#">
                                    <i class="fa fa-sign-in"></i>
                                    Se connecter
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="one-box one-box-redim-hover">
                    <div class="up" style="background-image: url('/static/img/cart.jpg');">

                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="down">
                        <h4>Panier</h4>
                        <div class="reduced">
                            Votre panier contient 16 produits pour un total de 6700 XAF.
                        </div>
                        <div class="expanded">
                            2kg de Manioc, 3kg de Bananes, 1L d'huile de palme, 2kg de noix,
                            2kg de fèves de cacao, 1L de jus de cacao, 1kg d'avocat, 2kg de citron
                            1kg de bitter-cola et 1kg de mandarine.<br />
                            Total : 6700 XAF
                        </div>
                        <div class="">
                            <input type="button" value="Valider la commande"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="one-box">
                    <div class="up" style="background-image: url('/static/img/book_your_stay.jpg');">

                    </div>
                    <div class="icon">
                        <i class="fa fa-suitcase"></i>
                    </div>
                    <div class="down">
                        <h4>Réserver votre séjour</h4>
                        <div>Accéder au formulaire</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="one-box">
                    <div class="up" style="background-image: url('/static/img/donate.jpg');">

                    </div>
                    <div class="icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="down">
                        <h4>Faire un don</h4>
                        <div>Accéder au formulaire</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="offer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Dernière actualité</h2>
                <h3>{{ last_news.title }}</h3>
                <p>{{ last_news.content }}</p>
            </div>
            <div class="col-md-3">
                <h2>Jeu/Webdoc/BD</h2>
            </div>
        </div>
    </div>
</section>

<!--/.INTRO END-->
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Produits vedettes</h2>
            </div>
            <div class="col-xs-6 col-sm-3 one">
                <img src="/static/img/banane.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 one">
                <img src="/static/img/manioc.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 one">
                <img src="/static/img/noix.jpg">
            </div>
            <div class="col-xs-6 col-sm-3 one">
                <img src="/static/img/graines.jpg">
            </div>
        </div>
    </div>
</section>
<br /><br />

<section class="partners-block">
    <div class="container">
        <div class="row text-center pad-row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
                <h1>Nos partenaires :</h1>
                <p>
                    <img src="/static/img/partners/logo_gef.png" alt=""/>
                    <img src="/static/img/partners/logo_pnud.png" alt=""/>
                    <img src="/static/img/partners/logo_sgp.png" alt=""/>
                </p>
            </div>
        </div>
    </div>
</section>
<!--/.NOTE END-->
<section id="footer-sec">

    <div class="container">
        <div class="row  pad-bottom">
            <div class="col-md-4">
                <h4><strong>À PROPOS D'AGRIPO</strong></h4>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <a href="#">En savoir plus</a>
            </div>
            <div class="col-md-4">
                <h4><strong>SOCIAL LINKS</strong></h4>

                <p>
                    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
                </p>
            </div>
            <div class="col-md-4">
                <h4><strong>OÙ SOMMES-NOUS ?</strong></h4>

                <p>
                    Village de Tayap <br/>
                    S/C BP 7105 Douala
                </p>
                <a href="#" class="btn btn-primary">Nous contacter</a>
            </div>
        </div>
    </div>
</section>
<!--/.FOOTER END-->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="/static/plugins/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="/static/plugins/bootstrap.js"></script>
<!-- CUSTOM SCRIPTS  -->
<!--<script src="/static/js/custom.js"></script>-->
{% if not cookies_notification_shown %}
    <script>
        call_after_dom_is_loaded(function($){
            console.log("We add the event for cookies");
            $('#id_uses_cookies').click(function(){
                console.log("CLicked!");
                $.get(
                        '{% url 'using_cookies_accepted' %}',
                        function(){
                            $('#id_uses_cookies_section').hide();
                        }
                );
                return false;
            });
        });
    </script>
{% endif %}
<script>
    $(function($){
        dom_is_loaded($);
    });
</script>
</body>
</html>
