{% load slideshow %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>{% block head_title %}Agripo{% endblock %}</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLE CSS -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- CUSTOM STYLE CSS from the template -->
    <link href="/static/css/style.css" rel="stylesheet"/>
    <!-- CUSTOM STYLE CSS -->
    <link href="/static/css/base.css" rel="stylesheet"/>
    <!-- GOOGLE FONT -->
<!--    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>-->

    <script src="/static/js/base.js"></script>
</head>
<body id="{% block page_name %}id_unknown_page{% endblock %}">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" id="id_top_container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "home_page" %}">
                <img src="/static/img/logo_bg_transp.png" style="height:50px;margin-top:-14px;"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            {% include "core/menu.html" %}
        </div>

    </div>
</div>
<div id="navbar_spacer"></div>

{% if not cookies_notification_shown %}
    {% include "core/boxes/cookies.html" %}
{% endif %}

{% if display_slideshow %}
    {% slideshow slideshow_images %}
{% endif %}

{% include "core/boxes/social_lang.html" %}

<section id="main_content">
    <div class="container">
        {% block main_content %}
        <div class="row text-center">
            <div class="col-md-12">
                Page content
            </div>
        </div>
        {% endblock %}
    </div>
</section>

{% include "core/boxes/boxes.html" %}

{% include "core/boxes/news.html" %}

{% include "core/boxes/products.html" %}

<section class="partners-block">
    <div class="container">
        <div class="row text-center pad-row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
                <h1>Nos partenaires :</h1>
                <p>
                    <img src="/static/img/partners/logo_gef.png" alt=""/>
                    <img src="/static/img/partners/logo_pnud.png" alt=""/>
                    <img src="/static/img/partners/logo_sgp.png" alt=""/>
                </p>
            </div>
        </div>
    </div>
</section>
<!--/.NOTE END-->
<section id="footer-sec">

    <div class="container">
        <div class="row  pad-bottom">
            <div class="col-md-4">
                <h4><strong>À PROPOS D'AGRIPO</strong></h4>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <a href="#">En savoir plus</a>
            </div>
            <div class="col-md-4">
                <h4><strong>SOCIAL LINKS</strong></h4>

                <p>
                    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
                </p>
            </div>
            <div class="col-md-4">
                <h4><strong>OÙ SOMMES-NOUS ?</strong></h4>

                <p>
                    Village de Tayap <br/>
                    S/C BP 7105 Douala
                </p>
                <a href="#" class="btn btn-primary">Nous contacter</a>
            </div>
        </div>
    </div>
</section>
<!--/.FOOTER END-->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="/static/plugins/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="/static/plugins/bootstrap.js"></script>
<!-- Vars & dom is loaded  -->
<script>
    $(function($){
        URL_COOKIES_ACCEPTED = '{% url 'using_cookies_accepted' %}';
        dom_is_loaded($);
    });
</script>
</body>
</html>
