<ul class="nav navbar-nav navbar-right">
    <script>
        var displayed_menu = null;
        call_after_dom_is_loaded(function($){
            $('.dropdownz').click(function(ev, el){
                $('.submenu').hide();
                submenu = ev.target.dataset.toggleElement;
                if(displayed_menu != submenu){
                    $('#'+submenu).toggle();
                    displayed_menu = submenu;
                }else{
                    displayed_menu = null;
                }
            });
        });
    </script>
    <li class="dropdownz">
        <a href="vergers_eco.html" class="dropdown-toggle" data-toggle-element="submenu_1" data-toggle="dropdown">AGRIPO <b class="caret"></b></a>
    </li>
    <li class="dropdownz">
        <a href="agroforesterie.html" class="dropdown-toggle" data-toggle-element="submenu_2" data-toggle="dropdown">PROGRAMMES <b class="caret"></b></a>
    </li>
    <li class="dropdownz">
        <a href="ecotourisme.html" class="dropdown-toggle" data-toggle-element="submenu_3" data-toggle="dropdown">ÉCOTOURISME <b class="caret"></b></a>
   </li>
    <li class="dropdownz">
        <a href="a-propos.html" class="dropdown-toggle" data-toggle-element="submenu_4" data-toggle="dropdown">BOUTIQUE <b class="caret"></b></a>
    </li>
    <li class="dropdownz">
        <a href="bibliotheque.html" class="dropdown-toggle" data-toggle-element="submenu_5" data-toggle="dropdown">BIBLIOTHÈQUE <b class="caret"></b></a>
    </li>

</ul>
<div id="submenus">
    <ul class="submenu" id="submenu_1">
        <li>
            <a href="#">Qui sommmes nous?</a>
        </li>
        <li>
            <a href="#">Notre conseil d'administration</a>
        </li>
        <li>
            <a href="#">Notre stratégie de développement durable</a>
        </li>
        <li>
            <a href="#">Nos réalisations en chiffres</a>
        </li>
        <li>
            <a href="#">Votre engagement</a>
        </li>
        <li>
            <a href="#">Nous contacter</a>
        </li>
    </ul>
    <ul class="submenu" id="submenu_2">
        <li>
            <a href="#">
                VET
                <div class="submenu_description">Vergers écologiques des territoires</div>
            </a>
        </li>
        <li>
            <a href="#">
                ILES
                <div class="submenu_description">Initiatives Locales d'Éléctrification Solaire</div>
            </a>
        </li>
        <li>
            <a href="#">
                RARE
                <div class="submenu_description">Réseau d'Adduction Responsable en Eau potable</div>
            </a>
        </li>
        <li>
            <a href="#">
                GREEN
                <div class="submenu_description">Gestion Raisonnée de l'Économie et de l'ENvironnement</div>
            </a>
        </li>
        <li>
            <a href="#">
                Vacances Solidaires
                <div class="submenu_description">Change the World</div>
            </a>
        </li>
    </ul>
    <ul class="submenu" id="submenu_3">
        <li>
            <a href="#">Informations Pratiques</a>
        </li>
        <li>
            <a href="#">Cameroun</a>
        </li>
        <li>
            <a href="#">Village de Tayap</a>
        </li>
        <li>
            <a href="#">Hébergements</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
    </ul>
    <ul class="submenu" id="submenu_4">
        <li>
            <a href="#">Nos Plantations</a>
        </li>
        <li>
            <a href="#">Nos Produits</a>
        </li>
        <li>
            <a href="#">Conditions Générales de Ventes</a>
        </li>
    </ul>
    <ul class="submenu" id="submenu_5">
        <li>
            <a href="#">Documents Institutionnels</a>
        </li>
        <li>
            <a href="#">Rapports Annuels</a>
        </li>
        <li>
            <a href="#">Photos et Vidéos</a>
        </li>
        <li>
            <a href="#">Ressources Documentaires</a>
        </li>
        <li>
            <a href="#">Magazines et Presse</a>
        </li>
    </ul>
</div>
