<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="vergers_eco.html" class="dropdown-toggle" data-toggle="dropdown">AGRIPO <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Qui sommmes nous?</a>
            </li>
            <li>
                <a href="#">Notre conseil d'administration</a>
            </li>
            <li>
                <a href="#">Notre stratégie de développement durable</a>
            </li>
            <li>
                <a href="#">Nos réalisations en chiffres</a>
            </li>
            <li>
                <a href="#">Votre engagement</a>
            </li>
            <li>
                <a href="#">Nous contacter</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="agroforesterie.html" class="dropdown-toggle" data-toggle="dropdown">PROGRAMMES <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Vergers écologiques des territoires (VET)</a>
            </li>
            <li>
                <a href="#">Initiatives Locales d'Éléctrification Solaire (ILES)</a>
            </li>
            <li>
                <a href="#">Réseau d'Adduction Responsable en Eau potable (RARE)</a>
            </li>
            <li>
                <a href="#">Gestion Raisonnée de l'Économie et de l'ENvironnement (GREEN)</a>
            </li>
            <li>
                <a href="#">Vacances Solidaires (Change the World)</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="ecotourisme.html" class="dropdown-toggle" data-toggle="dropdown">ÉCOTOURISME <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Informations Pratiques</a>
            </li>
            <li>
                <a href="#">Cameroun</a>
            </li>
            <li>
                <a href="#">Village de Tayap</a>
            </li>
            <li>
                <a href="#">Hébergements</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="a-propos.html" class="dropdown-toggle" data-toggle="dropdown">BOUTIQUE <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Nos Plantations</a>
            </li>
            <li>
                <a href="#">Nos Produits</a>
            </li>
            <li>
                <a href="#">Conditions Générales de Ventes</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="bibliotheque.html" class="dropdown-toggle" data-toggle="dropdown">BIBLIOTHÈQUE <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Documents Institutionnels</a>
            </li>
            <li>
                <a href="#">Rapports Annuels</a>
            </li>
            <li>
                <a href="#">Photos et Vidéos</a>
            </li>
            <li>
                <a href="#">Ressources Documentaires</a>
            </li>
            <li>
                <a href="#">Magazines et Presse</a>
            </li>
        </ul>
    </li>
</ul>
