<ul class="nav navbar-nav navbar-right" id="text_menus">
    <script>
        call_after_dom_is_loaded(function($){
            function is_menu_displayed(){
                return !($('#text_menus li a').is(":hidden"));
            }
            var displayed_menu = null;
            var do_we_display_submenus = is_menu_displayed();
            if(do_we_display_submenus) {
                $('.dropdownz').click(function (ev, el) {
                    $('.submenu').hide();
                    submenu = ev.target.dataset.toggleElement;
                    if (displayed_menu != submenu) {
                        $('#' + submenu).toggle();
                        displayed_menu = submenu;
                    } else {
                        displayed_menu = null;
                    }
                    return false;
                });
            }
        });
    </script>
    <li class="dropdownz">
        <a href="{% url "menu_page" page="agripo" %}" data-toggle-element="submenu_1">AGRIPO <b class="caret"></b></a>
    </li>
    <li class="dropdownz">
        <a href="{% url "menu_page" page="programmes" %}" data-toggle-element="submenu_2">PROGRAMMES <b class="caret"></b></a>
    </li>
    <li class="dropdownz">
        <a href="{% url "menu_page" page="ecotourisme" %}" data-toggle-element="submenu_3">ÉCOTOURISME <b class="caret"></b></a>
   </li>
    <li class="dropdownz">
        <a href="{% url "menu_page" page="boutique" %}" data-toggle-element="submenu_4">BOUTIQUE <b class="caret"></b></a>
    </li>
    <li class="dropdownz">
        <a href="{% url "menu_page" page="bibliotheque" %}" data-toggle-element="submenu_5">BIBLIOTHÈQUE <b class="caret"></b></a>
    </li>

</ul>
<div id="submenus">
    <ul class="submenu" id="submenu_1">
        <li>
            <a href="{% url "news_page" %}">Actualités</a>
        </li>
        <li>
            <a href="#">Qui sommmes nous?</a>
        </li>
        <li>
            <a href="#">Notre stratégie de développement durable</a>
        </li>
        <li>
            <a href="#">Nos réalisations en chiffres</a>
        </li>
        <li>
            <a href="#">Votre engagement</a>
        </li>
        <li>
            <a href="#">Nous contacter</a>
        </li>
    </ul>
    <ul class="submenu" id="submenu_2">
        <li>
            <a href="#">
                VET
                <div class="submenu_description">Vergers écologiques des territoires</div>
            </a>
        </li>
        <li>
            <a href="#">
                ILES
                <div class="submenu_description">Initiatives Locales d'Éléctrification Solaire</div>
            </a>
        </li>
        <li>
            <a href="#">
                RARE
                <div class="submenu_description">Réseau d'Adduction Responsable en Eau potable</div>
            </a>
        </li>
        <li>
            <a href="#">
                GREEN
                <div class="submenu_description">Gestion Raisonnée de l'Économie et de l'ENvironnement</div>
            </a>
        </li>
        <li>
            <a href="#">
                Vacances Solidaires
                <div class="submenu_description">Change the World</div>
            </a>
        </li>
    </ul>
    <ul class="submenu" id="submenu_3">
        <li>
            <a href="#">Informations Pratiques</a>
        </li>
        <li>
            <a href="#">Cameroun</a>
        </li>
        <li>
            <a href="#">Village de Tayap</a>
        </li>
        <li>
            <a href="#">Hébergements</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
    </ul>
    <ul class="submenu" id="submenu_4">
        <li>
            <a href="#">Nos Plantations</a>
        </li>
        <li>
            <a href="{% url "shop_page" %}">Nos Produits</a>
        </li>
        <li>
            <a href="#">Conditions Générales de Ventes</a>
        </li>
    </ul>
    <ul class="submenu" id="submenu_5">
        <li>
            <a href="#">Documents Institutionnels</a>
        </li>
        <li>
            <a href="#">Rapports Annuels</a>
        </li>
        <li>
            <a href="#">Photos et Vidéos</a>
        </li>
        <li>
            <a href="#">Ressources Documentaires</a>
        </li>
        <li>
            <a href="#">Magazines et Presse</a>
        </li>
    </ul>
</div>
