{% extends 'core/base.html' %}

{% block page_name %}id_news_list_page{% endblock %}

{% block header_text %}Welcome to Agripo's new website{% endblock %}

{% block main_content %}
    <div id="id_news_list_container">

        <div class="row">
            {% for news in news_list %}
                <div class="col-md-4">
                    <div>
                        <h3 class="one_news_title"><a href="{% url "one_news_page" news.pk %}">{{ news.title }}</a></h3>
                        <div class="text-center">
                            {{ news.content|striptags|truncatechars:150 }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination">
        <div class="row">
            <div class="col-md-12">
                <div class="step-links text-center">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
