{% extends 'core/base.html' %}

{% block page_name %}id_news_list_page{% endblock %}

{% block header_text %}Welcome to Agripo's new website{% endblock %}

{% block main_content %}
    <div id="id_news_list_container">

        <div class="row">
            <div class="col-md-12">
                <h1>{{ intro.title }}</h1>
                <p>{{ intro.content|safe }}</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="row news_container">
                {% for news in news_list %}
                    <div class="col-md-6 col-sm-6 one_news_block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>
                                    <a href="{% url "one_news_page" news.pk %}">
                                        <i class="fa fa-{{ news.icon.icon }}"></i>
                                        {{ news.title | truncatechars:35 }}
                                    </a>
                                </h2>
                            </div>
                            <div class="panel-body">
                                <p>{{ news.content|truncatechars:320 }}</p>
                                <a href="{% url "one_news_page" news.pk %}" class="btn btn-default btn-primary">Lire l'article complet</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="pagination_block">
            <div class="row">
                <div class="col-md-12">
                    <div class="step-links text-center">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        {% if page_obj.has_next %}
                            <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
