{% extends 'core/base.html' %}

{% block page_name %}reservation_page{% endblock %}

{% block header_text %}Welcome to Agripo's new website{% endblock %}

{% block main_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <i class="fa fa-paper-plane"></i>
                Réservation enregistrée
            </h4>
        </div>
        <div class="panel-body">
            <p>Votre réservation a été enregistrée avec succès ! Elle sera traitée dans les plus brefs délais.</p>
            <p>Nous vous remercions pour votre confiance.</p>
            <p>L'équipe d'Agripo</p>
        </div>
    </div>
{% endblock %}
