{% extends 'core/base.html' %}

{% block page_name %}id_shop_page{% endblock %}

{% block header_text %}Welcome to Agripo's new website{% endblock %}

{% block main_content %}
    <div class="row" id="shop">
        <style>
            .product_image{
                display: block;
                float: left;
                width: 40%;
                height: 150px;
                overflow: hidden;
                text-align: center;
                margin-right: 5px;
            }
        </style>
        <div class="col-md-12">
            <h1>Bienvenue dans notre boutique</h1>
            <p>{% lorem %}</p>
        </div>
        {% for cat in categories %}
            <div class="one_product_category">
                <div class="col-md-12">
                    <h2>{{ cat.name }}</h2>
                </div>
                {% for prod in cat.product_set.all %}
                    <div class="col-md-6">
                        <div class="panel panel-default" id="product_{{ prod.id }}">
                            <div class="panel-heading">
                                <i class="fa fa-shopping-cart"></i>
                                {{ prod.name }}
                            </div>
                            <div class="panel-body">
                                <div class="product_image">
                                    <img src="/media/{{ prod.image }}"/>
                                </div>
                                <div class="product_description">
                                    <p>
                                        <strong>Prix unitaire :</strong>
                                        {{ product.price }}&nbsp;FCFA
                                    </p>
                                    {% if prod.is_available %}
                                        <form action="#">
                                            <p>En stock</p>
                                            <p>
                                                Quantité achetée :
                                                <input name="quantity" value="{{ prod.get_cart_quantity }}" style="width:100px;" placeholder="Quantité" type="number"/>
                                                <input type="submit" value="OK"/>
                                            </p>
                                        </form>
                                    {% else %}
                                        <p>Produit indisponible pour le moment</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="one_product_category_empty">Il n'y a aucun produit dans cette catégorie pour le moment</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
