
<section class="text-center carousel">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for image in images %}
            <div class="item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.src }}" alt="{{ image.alt }}"/>
                <div class="carousel-caption">
                    <h4 class="back-light">
                        {{ image.caption }}
                    </h4>
                </div>
            </div>
            {% endfor %}
        </div>

        <ol class="carousel-indicators">
            {% for image in images %}
                <li data-target="#carousel-example" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
    </div>
</section>
<!--/.SLIDESHOW END-->
