{% extends 'core/base.html' %}

{% block page_name %}id_update_stock{% endblock %}

{% block header_text %}Welcome to Agripo's new website{% endblock %}

{% block main_content %}
    <div id="update_stock">
        <style>
            .product_image{
                display: block;
                width: 100%;
                height: 180px;
                overflow: hidden;
                text-align: center;
                margin-right: 5px;
            }
            .add_to_cart_confirm_message .fa{
                color: limegreen;
            }
            .panel.one_product{
                height: 260px;
                overflow: hidden;
            }
            .panel-heading{
                height:55px;
            }
        </style>

        <div class="row">
            <div class="col-md-12">
                <h1>Vos stocks dispnibles</h1>
                <p>
                    Pour chacun des produits, veuillez indiquer le stock que vous souhaitez mettre en vente ici,
                    puis validez avec le bouton situé en fin de formulaire.
                </p>
            </div>
        </div>
        <hr />
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                {% for prod in view.products %}
                    <div class="col-md-3">
                        <div class="panel panel-default one_product" id="product_{{ prod.product.id }}">
                            <div class="panel-heading">
                                <h3>
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="product_name">{{ prod.product.name }}</span>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="product_image">
                                    <img src="/media/{{ prod.product.image }}"/><br />
                                    <input name="quantity.{{ prod.product.id }}" value="{{ prod.stock }}" type="number" style="width:100px;" placeholder="Quantité" type="number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row" style="margin: 35px 0;">
                <div class="col-md-4 col-md-offset-4">
                    <button role="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-check"></i>
                        Enregistrer vos stocks
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
