{% extends 'core/base.html' %}

{% block page_name %}id_update_stock{% endblock %}

{% block header_text %}Welcome to Agripo's new website{% endblock %}

{% block main_content %}
    <div id="update_stock">
        <style>
            .product_image{
                display: block;
                width: 100%;
                height: 180px;
                overflow: hidden;
                text-align: center;
                margin-right: 5px;
            }
            .add_to_cart_confirm_message .fa{
                color: limegreen;
            }
            .panel.one_product{
                height: 260px;
                overflow: hidden;
            }
            .panel-heading{
                height:55px;
            }
        </style>

        <div class="row">
            <div class="col-md-12">
                <h1>Vos stocks dispnibles</h1>
                <p>
                    Pour chacun des produits, veuillez indiquer le stock que vous souhaitez mettre en vente ici,
                    puis validez le formulaire.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <form action="" method="post">
                {% for cat in categories %}
                    <div class="one_product_category">
                        <div class="col-md-12">
                            <h2>{{ cat.name }}</h2>
                        </div>

                        {% for prod in cat.product_set.all %}
                            <div class="col-md-3">
                                <div class="panel panel-default one_product" id="product_{{ prod.id }}">
                                    <div class="panel-heading">
                                        <h3>
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="product_name">{{ prod.name }}</span>
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="product_image">
                                            <img src="/media/{{ prod.image }}"/><br />
                                            <input name="quantity" value="{{ prod.get_cart_quantity }}" type="number" style="width:100px;" placeholder="Quantité" type="number"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="one_product_category_empty">Il n'y a aucun produit dans cette catégorie pour le moment</div>
                        {% endfor %}

                    </div>
                {% endfor %}
                <button role="submit"><i class="fa fa-check"></i>Enregistrer</button>
            </form>
        </div>
    </div>
{% endblock %}
