{% extends 'core/base.html' %}

{% block page_name %}id_page_submenus{% endblock %}

{% block header_text %}Welcome to Agripo's new website{% endblock %}

{% block main_content %}
<div class="row text-center page_submenus">
        <h1>BIBLIOTHÈQUE</h1>
        <div class="">
            <a href="#" class="btn btn-primary">
                Documents Institutionnels
            </a>
        </div>
        <div class="">
            <a href="{% url "shop_page" %}" class="btn btn-primary">
                Rapports Annuels
            </a>
        </div>
        <div class="">
            <a href="#" class="btn btn-primary">
                Photos et Vidéos
            </a>
        </div>
        <div class="">
            <a href="#" class="btn btn-primary">
                Ressources Documentaires
            </a>
        </div>
        <div class="">
            <a href="#" class="btn btn-primary">
                Magazines et Presse
            </a>
        </div>
    </div>
</div>
{% endblock %}
