{% extends 'core/base.html' %}

{% block page_name %}id_page_submenus{% endblock %}

{% block header_text %}Welcome to Agripo's new website{% endblock %}

{% block main_content %}
<div class="row text-center page_submenus">
    <div class="col-xs-12">
        <h1>ÉCOTOURISME</h1>
        <div class="">
            <a href="/informations-pratiques/" class="btn btn-primary btn-lg btn-block">
                Informations Pratiques
            </a>
        </div>
        <div class="">
            <a href="/cameroun/" class="btn btn-primary btn-lg btn-block">
                Cameroun
            </a>
        </div>
        <div class="">
            <a href="/village-de-tayap/" class="btn btn-primary btn-lg btn-block">
                Village de Tayap
            </a>
        </div>
        <div class="">
            <a href="/hebergements/" class="btn btn-primary btn-lg btn-block">
                Hébergements
            </a>
        </div>
        <div class="">
            <a href="/services/" class="btn btn-primary btn-lg btn-block">
                Services
            </a>
        </div>
    </div>
</div>
{% endblock %}
