{% extends 'core/base.html' %}

{% block page_name %}id_page_submenus{% endblock %}

{% block header_text %}Welcome to Agripo's new website{% endblock %}

{% block main_content %}
<div class="row text-center page_submenus">
    <div class="col-xs-12">
        <h1>PROGRAMMES</h1>
        <div class="">
            <a href="/programme-vet/" class="btn btn-primary btn-lg btn-block">
                VET
                <div class="submenu_description">Vergers écologiques des territoires</div>
            </a>
        </div>
        <div class="">
            <a href="/programme-iles/" class="btn btn-primary btn-lg btn-block">
                ILES
                <div class="submenu_description">Initiatives Locales d'Éléctrification Solaire</div>
            </a>
        </div>
        <div class="">
            <a href="/programme-rare/" class="btn btn-primary btn-lg btn-block">
                RARE
                <div class="submenu_description">Réseau d'Adduction Responsable en Eau potable</div>
            </a>
        </div>
        <div class="">
            <a href="/programme-green/" class="btn btn-primary btn-lg btn-block">
                GREEN
                <div class="submenu_description">Gestion Raisonnée de l'Économie et de l'ENvironnement</div>
            </a>
        </div>
        <div class="">
            <a href="/programme-vacances-solidaires/" class="btn btn-primary btn-lg btn-block">
                Vacances Solidaires
                <div class="submenu_description">Change the World</div>
            </a>
        </div>
        <div class="">
            <a href="/programme-create/" class="btn btn-primary btn-lg btn-block">
                CREATE
                <div class="submenu_description">Économie créative</div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
