a,
a:hover{
    color: #3d4d0b;
}
.navbar-text a:hover{
    color: white;
}
#bottom_social_networks a{
    color: #3d4d0b;
}
#bottom_social_networks a:hover{
    color: #3b3b1f;
}
#social_lang,
body .navbar-inverse {
    background-color: #3b3b1f;
}
#social_lang{
    background-color: #809C65;
}
#myCarousel{
    height: 280px;
    overflow: hidden;

}
#social_lang .container .row .navbar-text{
    margin: 5px 0;
}
.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4{
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #3d4d0b;
}
.panel-heading h1{
    font-width: bold;
    text-align: center;
}
.pad-bottom > div{
    margin-bottom: 40px;
}
