a,
a:hover{
    color: #3d4d0b;
}
.navbar-text a:hover{
    color: white;
}
#myCarousel{
    height: 280px;
    overflow: hidden;

}
#social_lang {
    background-color: #809C65;
}
#social_lang .container .row .navbar-text{
    margin: 5px 0;
}
h1{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
